img#scroll-arrow {
    width: 200px;
}

.btn.btn-cloud, .btn.btn-cloud:hover, .btn.btn-intro, .btn.btn-intro:hover {
    background-color: rgb(255, 246, 224);
    border-color: orange;
    color: orange;
}

.btn.btn-cloud.active, .btn.btn-cloud.active:hover {
    background-color: rgb(246, 212, 217);
    border-color: rgb(255, 117, 182);
    color: rgb(255, 117, 182);
}
